/* style.css */
.card {
	width: 200px;
	float: left;
	height: 90px;
	margin: 5px;
	background-color: #AAA;
	display:table;
	table-layout:fixed;
	word-wrap:break-word;
	text-align:center;
}
.card span {
	/* breaks ng-show in Chrome */
/*
	display:table-cell;
	vertical-align:middle;
*/
}
#gameboard {
	width: 1260px; //fit 6 cards
	margin:0 auto;
}
